@{
    ViewData["Title"] = "Looking for battle";
    Layout = "_GameLayout";
}
<script>
setTimeout(function(){
        window.location.reload(1);
}, 5000);
    setTimeout();
</script>
<h1>Looking for a battle...</h1>